<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/styles.css" rel="stylesheet" type="text/css">
  <title>To Do List</title>
</head>

<body>
  <h1>
    <!-- to use EJS as html we need to use the <%= content %>
  here we are linking the content with the information
  at the res.render inside app.js -->
    <%= kindOfDay%>
  </h1>
  <p>To-do List</p>
  <ul>
    <!-- Now when JS is needed, we use <% Js Code %>
    and the <% tag need to be open and closed line by line. -->
    <% for(var i=0; i<newListItems.length; i++) { %>
      <li><input type="checkbox">
        <%=newListItems[i]%>
      </li>
      <% } %>
  </ul>
  <form class="" action="/" method="post">
    <input type="text" name="newItem">
    <button type="submit">Add</button>
  </form>
</body>

</html>