<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/styles.css" rel="stylesheet" type="text/css">
  <title>To Do List</title>
</head>

<body>
  <!-- to use EJS as html we need to use the  content 
here we are linking the content with the information
at the res.render inside app.js -->
  <div class="box" id="heading">
    <h1>
      <%= kindOfDay %>
    </h1>
  </div>

  <!-- Now when JS is needed, we use  Js Code 
    and the tag need to be open and closed line by line. -->
  <div class="box">
    <% for(var i=0; i<newListItems.length; i++) { %>
      <div class="item">
        <input type="checkbox">
        <p>
          <%= newListItems[i] %>
        </p>
      </div>
      <% } %>

        <form class="item" action="/" method="post">
          <input type="text" name="newItem" placeholder="Add New Task" autocomplete="off" />
          <button type="submit">+</button>
        </form>
  </div>
</body>

</html>